@model IEnumerable<GiftCertWeb.Models.GiftCert>

@{
    ViewData["Title"] = "Index";
}

<h4>Gift Certs</h4>
<hr />

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.GiftCertNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtiPermitNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GcType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GiftCertNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtiPermitNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GcType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.GiftCertNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GiftCertNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GiftCertNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
